.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.panel {
    background-color: #313423;
    /* padding: 20px; */
    /* width: 90%; */
    /* max-width: 400px; */
    color: white;
    position: relative;
    font-family: 'Tektur', sans-serif;
    border-radius: 9px;
    /* background: #313423; */

    width: 361px;


}

