.wrapper {
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    margin-bottom: 80px;
}

.cardList {
    position: relative;
    width: 353px;
    height: 254px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #EA7422;
    background: linear-gradient(114deg, rgba(44, 44, 38, 0.60) 5.19%, rgba(62, 44, 21, 0.60) 98.99%);
}

.img {
    display: block;
    width: 352px;
    height: 182px;
    flex-shrink: 0;
    aspect-ratio: 352/182.00;
    border: none;
    border-radius: 5px;
}

.cardScript {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.78px;
    width: 203px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom: 12px;
}

.btmHeard {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 13px;
    left: 15px;
}

.btmNextPage {
    border: none;
    position: absolute;
    bottom: 13px;
    right: 15px;
}

.count {
    color: #EA7422;
    font-size: 16px;
    font-weight: 600;
    margin-left: 6px;
    letter-spacing: 0.96px;
}

.nextPage {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.like {
    width: 21px;
    height: 18px;
    flex-shrink: 0;
}