.wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  background-color: #1E2115;
}

.wolfImg {
  /* width: 100vw;
  height: 400px; */
  position: absolute;
  top: 68px;
  border: none;

  width: 395.587px;
  height: 354px;
  flex-shrink: 0;
  aspect-ratio: 395.59/354.00;
  border-radius: 5px;
  box-shadow: 8px 9px 7.9px 0px rgba(0, 0, 0, 0.25);
}

.modalContainer {
  width: 353px;
  height: 372px;
  border: 1px solid #ea7422;
  border-radius: 5px;
  z-index: 10;
  /* margin-bottom: 93px; */
  margin: auto;
  background: linear-gradient(
    114.19deg,
    rgba(44, 44, 38, 0.4) 5.19%,
    rgba(62, 44, 21, 0.4) 98.99%
  );
}

.title {
  font-family: 'Tektur', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 20px;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.lockImg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 56px;
  height: 77px;
  transform: translate(-50%, -50%);
}

.imgStyle {
  margin-right: 17.5px;
  margin-left: 17.5px;
  border-radius: 1px;
  border: 1px solid #563925;
  width: 255.484px;
  height: 144px;
  flex-shrink: 0;
  aspect-ratio: 255.48/144.00;
}

.imgStyleBlur {
  filter: blur(3.75px);
}

.scriptConteiner {
  /* margin-top: 19px;
  margin-bottom: 23px; */

  padding-top: 19px; 
  padding-bottom: 23px; 
}

.pScript {
  font-family: 'Tektur', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.84px;
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 32px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #ea7422;
  color: #fff;
  font-family: 'Tektur', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.buttonActive {
  background-color: #3f5330;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 32px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
  border-radius: 5px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.arrowButtonLeft {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 22px;
  display: flex;
  align-items: center;
}

.arrowButtonRight {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 22px;
  display: flex;
  align-items: center;
}

.slideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowImg {
  height: 18px;
  width: 10px;
  max-width: none;
}