.wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.button {
    padding: 10px 20px;
    width: 100%;
    height: fit-content;
}