.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-color: #313423;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: env(safe-area-inset-bottom);
    /* for iOS */
    border-top: 1px solid #444;
    z-index: 100;
    border-radius: 25px 25px 0px 0px;
    flex-shrink: 0;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #B9B8C3;
    font-size: 12px;
    gap: 4px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.icon {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.active {
    color: #EA7422;
}