.panel {
    font-family: 'Tektur', sans-serif;
    position: relative;
    border-radius: 9px;
    border: 1px solid #EA7422;
    background: var(--1, linear-gradient(114deg, rgba(44, 44, 38, 0.60) 5.19%, rgba(62, 44, 21, 0.60) 98.99%));
    width: 352px;
}

.title {
    margin-top: 39px;
    margin-bottom: 34px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
}

.stats {
    margin-left: 33px;
    margin-right: 31px;
}

.stats li {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
}

.stats li:last-child {
    margin-bottom: 49px;
}

.itemContainer {
    display: flex;
    align-items: center;
}

.itemText {
    margin-left: 17px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.stats span {
    color: #EA6B22;
    margin-left: auto;
    font-size: 16px;
    font-weight: 600;
}

.button {
    background-color: #3F5330;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buttonText {
    font-size: 14px;
    font-weight: 500;
}

.close {
    top: 14px;
    right: 16px;
    position: absolute;
    cursor: pointer;
}