.close {
    position: absolute;
    top: 14px;
    right: 19px;
    cursor: pointer;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
}

.header {
    text-align: center;
}

.symbol {
    width: 61px;
    height: 61px;
}

.name {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Tektur;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    /* margin: 12px 0; */
    /* border-radius: 10px; */
    /* padding: 10px; */
    width: 314px;
    margin-bottom: 36px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* gap: 12px; */
}

.label {
    color: #FFF;
    font-family: Tektur;
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
}

.value {
margin-top: 11px;
    margin: 0;
    margin-left: 45px;
    color: #75785A;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.btn {
    background-color: #3F5330;
    cursor: pointer;
    display: inline-flex;
    padding: 4px 18px 4px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
}
.LastBtn{
    padding: 4px 15px 4px 15px;
}

.leave {
    /* margin-top: 20px; */
    /* width: 100%; */
    background-color: #505330;
    color: white;
    /* border: none; */
    /* padding: 10px; */
    /* box-shadow: 0px 4px 4px 0px #00000040; */
    /* border-radius: 8px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */


    /* display: inline-flex; */
        padding: 6px 30px 7px 30px;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 9px;
        border-radius: 7px;
            /* background: #505330; */
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            color: #B9B8C3;
                font-family: Tektur;
                font-size: 18px;
                /* font-style: normal; */
                font-weight: 500;
                /* line-height: normal; */
                letter-spacing: 1.08px;
                margin-bottom: 24px;
}

.leaveText {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #B9B8C3;
    font-family: 'Tektur',
        sans-serif;
}

.leaveIcon {
    width: 14px;
    height: 16px;
}

.leave:hover {
    background-color: #7f8952;
}