html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Tektur', sans-serif;
  background-color: #f5f5f5;
  color: #111;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  body::before {
    content: "âŒ Desktop not supported";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    background-color: #000;
    color: #fff;
  }

  #root>* {
    display: none;
  }
}